{% macro input(name, value='', type='text', size=20) -%}
    <input type="{{ type }}" name="{{ name }}" value="{{
        value|e }}" size="{{ size }}">
{%- endmacro %}

<!doctype html>
<title>ePdf.es - Consulta y modifica metadatos de tus pdf online</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Sencilla herramienta online para consultar y modificar metadatos de ficheros pdf">
<meta name="keywords" content="pdf,metadatos,consultar metadatos,modificar metadatos,consult metadata, modify metadata,online">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">


<div class="page">
  <!--h1>Flaskr</h1-->
  <h1>
    <a href="https://www.epdf.es">
    <img src="static/epdf.png"
    onmouseover="this.src='static/epdf1.png'"
    onmouseout="this.src='static/epdf.png'"/>
    </a>
  </h1>
  <div class=metanav>
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>

<!-- footer -->
{% include 'footer.html' %}
