{% macro input(name, value='', type='text', size=20) -%}
    <input type="{{ type }}" name="{{ name }}" value="{{
        value|e }}" size="{{ size }}">
{%- endmacro %}

{% extends "layout.html" %}
{% block body %}

Sencilla herramienta para consultar y modificar metadatos de archivos pdf.

<!-- Banner Google Adsense -->
<script type="text/javascript"><!--
google_ad_client = "ca-pub-2728778946411136";
/* littlebanner */
google_ad_slot = "5697077698";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>    

<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

  <br /><br />
  
  <div class="flash">1.- Selecciona fichero pdf</div>
  <!-- Formulario de entrada de PDF -->
  <form action="" method=post enctype=multipart/form-data>
    <div class="form_input">
      <div class="form_fields">
        <input size=55 type=file name=file>
      </div>
      <div class="form_submit">
        <input size=50 type=submit value="Consultar metadatos">
      <div>
    </div>
   </form>

  <br />
  <!-- Listado de metadatos -->
  {% if docInfo %}
  <form action="/generate" method=post enctype=multipart/form-data>
  <div class="flash">2.- Consulta/Modifica metadatos</div>
      <ul class=entries>
      {% for metaItem in docInfo %}
        <li><h2>{{ metaItem }}</h2>
        <!--<input type="text" name={{metaItem}} value={{ docInfo[metaItem]|safe }} />-->
        {{ input(metaItem, docInfo[metaItem]) }}
      {% else %}
        <li><em>No se han encontrado metadatos</em>
      {% endfor %}
      </ul>
      
  <div class="flash">3.- Para modificar metadatos selecciona fichero pdf para asignarle metadatos
  <br/>
  * El fichero original no será modificado. Se genera una copia con los metadatos de arriba.</div>
  <input size=55 type=file name=file>
  <div class="form_submit">
    <input size=50 type=submit value="Generar Pdf">
  </div>
  
  </form>
  {% endif %}
{% endblock %}


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42386517-1', 'epdf.es');
  ga('send', 'pageview');

</script>
