{% extends "layout.html" %}
{% block body %}

    Sencilla herramienta para consultar y modificar metadatos de archivos pdf.
    

<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>


  <form action="" method=post enctype=multipart/form-data>
    <div class="form_input">
      <div class="form_fields">
        <input size=55 type=file name=file>
      </div>
      <div class="form_submit">
        <input type=submit value="Consultar metadatos">
      <div>
    </div>
   </form>
  
{% endblock %}
